---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---


<h2>Conference Papers</h2>
<!-- <p><strong>(*= equal contribution)</strong></p> -->
<ul>
    <li><strong>[ACM MMSys'25]</strong> "A Congestion Control Test Suite for Real-Time Communication", <strong>Quanwei Zhang</strong>, Zhiming Huang, Jinwei Zhao, Jianping Pan.</li>
    <li><strong>[IEEE CSCWD'21]</strong> "Multi-Resolution Odd Sketch for Mining Jaccard Similarities between Dynamic Streaming Sets", Qingjun Xiao, Lin Wen, <strong>Quanwei Zhang</strong>.</li>
</ul>

<h2>Journal Papers</h2>
<ul>
    <li><strong>[Elsevier ESWA'25]</strong> "Monocular Vision Approach for Soft Actor-Critic Based Car-Following Strategy in Adaptive Cruise Control", Jiachen Yang, Jiankun Peng, <strong>Quanwei Zhang</strong>, et al. </li>
    <li><strong>[Elsevier CN'23]</strong> "A Generic Sketch for Estimating Super-Spreaders and Per-Flow Cardinality Distribution in High-Speed Data Streams", <strong>Quanwei Zhang</strong>, Qingjun Xiao, Yuexiao Cai.</li>
    <li><strong>[MDPI Sensors'20]</strong> "RDCPF: A Redundancy-Based Duty-Cycling Pipelined-Forwarding MAC for Linear Sensor Networks", <strong>Quanwei Zhang</strong>, Dazhong Li, Yue Fei, et al.</li>
</ul>

<h2>Patents</h2>
<ul>
    <li><strong>[ZL202010845200.2]</strong> "Linear Sensor Network Multi-Hop Data Collection Method Based on Redundant Nodes". CN112073931B. Fei Tong, <strong>Quanwei Zhang</strong>, Dazhong Li, et al.</li>
</ul>


<!---
{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>
-->